<div class="numeric-keyboard-inner-wrapper">
	<div class="numeric-keyboard">
		<label class="stake-display"></label>
		<div class="default-text-wrapper">
			<span class="default-text">Enter Stake</span>
		</div>
		<div class="keys">
			<button type="button" class="seven" data-id="7">7</button>
			<button type="button" class="eight" data-id="8">8</button>
			<button type="button" class="nine" data-id="9">9</button>
			<button type="button" class="delete" data-id="delete">C</button>
			<button type="button" class="four" data-id="4">4</button>
			<button type="button" class="five" data-id="5">5</button>
			<button type="button" class="six" data-id="6">6</button>
			<button type="button" class="one" data-id="1">1</button>
			<button type="button" class="two" data-id="2">2</button>
			<button type="button" class="three" data-id="3">3</button>
			<button type="button" class="ok" data-id="ok">OK</button>
			<button type="button" class="zero" data-id="0">0</button>
			<button type="button" class="dot" data-id="separator">.</button>
		</div>
	</div>
</div>